* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    background-color: lightblue;
    place-items: center;
    height: 90vh;
}

main.container {
    width: 60vh;
    height: 80vh;
    padding: 30px;
    background-color: white;
    font-size: 2em;
    color: hsl(0, 0%, 49%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* how to arrange children? */
}

.shadow {
    background-color: aqua;
    width: 40%;
    height: 40%;
    margin: 5%;
    transition: transform 1s;
    text-align: center;
    padding: 120px 0;
    /* add cursor pointer here or in each child? */
}

.shadow:hover {
    text-shadow: 1px 1px black;
}

/* #one {
    box-shadow: rgba(0, 0, 0) 10px 10px;
} */

div:nth-child(1) {
    box-shadow: rgba(0, 0, 0) 10px 10px;
}

#two {
    box-shadow: rgb(151, 146, 146) 5px -5px 15px;
}
/* add text shadow and then text elevation effect with transform scale` */
#two h4 {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#three {
    box-shadow: rgb(75, 74, 180) 3px -3px 10px 5px;
}

#four {
    box-shadow: 10px -10px 20px 10px lightblue inset;
    font-family: 'Silkscreen', cursive;
}
